html {
  font-size: 16px;
}

:root {
  --black: #111517;
  --white: white;
  --background: #fafafa;
}

body {
  background: var(--background);
  font-family: "Nunito Sans", sans-serif;
  color: var(--black);
}

main {
  color: var(--black);
  background: var(--background);
  min-height: 100vh;
}
